<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
  <div class="side-nav-wrapper">

    <a href="../introduction/index.html" id="logo">
      <img src="../imgs/icons/cc-logo-fill.svg" alt="NBC UX Lab">
      <h5>Content Commerce</h5>
    </a>
    <nav>
      <dl>        

       <!--  <div class="menu__header js-menuHeader">Competitive Analysis</div>
        <div class="menu__list is-closed">
          <div class="menu__wrapper">
            <a class="menu__item" href="../competitive-analysis/identification.html">Competitor Identification</a>
            <a class="menu__item" href="../competitive-analysis/image-recognition.html">Image Recognition</a>
            <a class="menu__item" href="../competitive-analysis/chart.html">Comprehensive Chart</a>
          </div>
        </div>
 -->
        
        <!-- <div class="menu__header js-menuHeader">Layout Exploration</div>
        <div class="menu__list is-closed">
          <div class="menu__wrapper">
            <a class="" href="../layout/landing.html">Landing Page</a>
            <a class="" href="../layout/product.html">Product Page</a>
            <a class="" href="../layout/content.html">Content Page</a>
            <a class="" href="../layout/wishlist.html">Wishlist</a>
            <a class="" href="../layout/checkout.html">Checkout</a>
          </div>
        </div> -->

        <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Competitor Identification</dt>
        <dd>
          <a class="menu__item" href="../competitive-analysis/identification.html">Competitor Identification</a>
        </dd>

        <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Metrics</dt>
        <dd>
          <a class="menu__item" href="../metrics/index.html">Metrics</a>
        </dd>

        <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Comprehensive Chart</dt>
        <dd>
          <a class="menu__item" href="../competitive-analysis/chart.html">Comprehensive Chart</a>
        </dd>

        <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Layout Exploration</dt>
        <dd>
          <a href="../layout/index.html">Layout Exploration</a>
        </dd>

        <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Image Recognition</dt>
        <dd>
          <a class="menu__item" href="../competitive-analysis/image-recognition.html">Image Recognition</a>
        </dd>

        


        <!-- <dt class="qp-ui single-item-menu" data-qp-ui="{ 'SideNavZippy': false }">Proposal</dt>
        <dd>
          <a href="//content-commerce-proposal.nbcuxlab.com" target="_blank">Proposal</a>
        </dd> -->

        

      </div>
    </nav>
          <a target="_blank" href="//portfolio.nbcuxlab.com">
        <div id="logo" class="logo--bottom">
          <img src="../imgs/icons/nbcuxlab.svg" alt="NBC UX Lab" style="height:32px;">
          <span>NBCUX LAB</span>
        </div>
      </a>
  </div>
</div>