
<!DOCTYPE html>
<html class="qp-ui" data-qp-ui="{
'Futurizr': {
'hasTouch': 'touch'
}
}">
<head>
    <meta charset="utf-8">
    //= ../template/css.html
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout Exploration</title>
</head>

<body class="site-material_ext_publish section-animation first-chapter color-content-commerce qp-ui" data-qp-ui="{ 'Mask': {} }">
  <header class="qp-ui" data-qp-ui="{
  'Peekaboo': {
  'mobile': 72,
  'desktop-sm': 72,
  'default': 192
}
}">
<div class="header-wrapper qp-ui" data-qp-ui="{
'Peekaboo': {
'mobile': 28,
'desktop-sm': 28,
'default': 82
}
}">
<div class="header-title">
    <span class="section-title">Competitive Analysis</span>
    <span class="chapter-title">
        <span class="title-separator">—</span>
        Layout Exploration
    </span>
</div>
</div>

</header>

<nav>
  <button class="hamburger-button qp-ui" data-qp-ui="{ 'SideNavToggle': {} }" role="tab"><i class="material-icons material-spec-icon" title="Show navigation">menu</i></button>
</nav>

//= ../template/menu.html

<div id="grid-cont">
    <section class="grid_outer chapter">
        <h1 class="chapter-title">Layout Exploration</h1>
        <div class="chapter-intro">
          <p>In order to understand why some of the most successful e-commerce sites have garnered such a strong customer base and have consistently met their revenue goals, we analyzed different pages from their sites. We wanted to pinpoint which aspects of each page type were appealing and most effective in holding a user’s attention and converting them from visitors to customers. From the landing page to the checkout page, we took into account their organization of information, call-to-action buttons, and the overall user experience.</p>
      </div>

      <div class="chapter-content">
        <nav class="chapter-toc">
            <h1>Pages</h1>
            <ul>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#landing">Landing Page</a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#product">Product Page</a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#content">Content Page</a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#wishlist">Wishlist</a></li>
                <li><a class="gweb-smoothscroll-control qp-ui" data-qp-ui="{ 'SmoothScroll': {} }" href="#checkout">Checkout</a></li>
            </ul>
        </nav>

        <div class="article-list layouts">
            <div id="landing" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                <div class="icon-header">
                    <h1 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Landing Page</h1>
                </div>
                <div class="article-content">
                    <div class="module-list">
                        <div>
                            <section class="moduleF1">
                                <div class="module-body">
                                </div>
                                <div class="figure-group">
                                    <div class="figure-row">
                                        <div class="scrolling-container">
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/net-logo.svg">
                                                    <img src="../imgs/landing/net-a-porter.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>

                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/farfetch-logo.svg">
                                                    <img src="../imgs/landing/landing1.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>

                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/matches-logo.svg">
                                                    <img src="../imgs/landing/landing2.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>

                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/food52-logo.svg">
                                                    <img src="../imgs/landing/landing3.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/houzz-logo.svg">
                                                    <img src="../imgs/landing/landing4.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>

                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="product" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                <div class="icon-header">
                    <h1 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Product Page</h1>
                </div>
                <div class="article-content">
                    <div class="module-list">
                        <div>
                            <section class="moduleF1">
                                <div class="module-body">
                                </div>
                                <div class="figure-group">
                                    <div class="figure-row">
                                        <div class="scrolling-container">
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/houzz-logo.svg">
                                                    <img src="../imgs/product/product2.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/food52-logo.svg">
                                                    <img src="../imgs/product/product1.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/matches-logo.svg">
                                                    <img src="../imgs/product/product3.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div id="content" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                <div class="icon-header">
                    <h1 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Content Page</h1>
                </div>
                <div class="article-content">
                    <div class="module-list">
                        <div>
                            <section class="moduleF1">
                                <div class="module-body">
                                </div>
                                <div class="figure-group">
                                    <div class="figure-row">
                                        <div class="scrolling-container">
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/food52-logo.svg">
                                                    <img src="../imgs/content/content7.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/matches-logo.svg">
                                                    <img src="../imgs/content/content3.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/matches-logo.svg">
                                                    <img src="../imgs/content/content4.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/farfetch-logo.svg">
                                                    <img src="../imgs/content/content1.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/farfetch-logo.svg">
                                                    <img src="../imgs/content/content2.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>


            <div id="wishlist" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                <div class="icon-header">
                    <h1 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Wishlist</h1>
                </div>
                <div class="article-content">
                    <div class="module-list">
                        <div>
                            <section class="moduleF1">
                                <div class="module-body">
                                </div>
                                <div class="figure-group">
                                    <div class="figure-row">
                                        <div class="scrolling-container">
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/matches-logo.svg">
                                                    <img src="../imgs/wishlist/wishlist2.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/farfetch-logo.svg">
                                                    <img src="../imgs/wishlist/wishlist1.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

            <div id="checkout" class="article qp-ui" data-qp-ui="{ 'ScrollSpy': {} }">
                <div class="icon-header">
                    <h1 class="article-title qp-ui" data-qp-ui="{ 'ResponsiveZippy': {} }">Checkout</h1>
                </div>
                <div class="article-content">
                    <div class="module-list">
                        <div>
                            <section class="moduleF1">
                                <div class="module-body">
                                </div>
                                <div class="figure-group">
                                    <div class="figure-row">
                                        <div class="scrolling-container">
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/glossier.svg">
                                                    <img src="../imgs/checkout/checkout1.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/food52-logo.svg">
                                                    <img src="../imgs/checkout/checkout2.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/farfetch-logo.svg">
                                                    
                                                    <img src="../imgs/checkout/checkout4.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                            <figure>
                                                <div class="media">
                                                    <img class="icon-logo" src="../imgs/icons/matches-logo.svg">
                                                    <img src="../imgs/checkout/checkout3.png">
                                                </div>
                                                <figcaption>
                                                    <p></p>
                                                </figcaption>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</div>


<footer>
    <div class="footer-grid">
        <div class="footer-L section-what-is-material color-default">&nbsp;</div>
        <div class="footer-grid-L section-what-is-material color-default">
            <a class="footer-text" href="../competitive-analysis/chart.html">
                <div class="next-arrow-wrapper L">
                    <i class="material-icons arrow-L">arrow_back</i>
                    <span class="direction">Previous</span>
                </div>
                <div>Comprehensive Chart</div>
            </a>
        </div>

        <div class="footer-R section-animation color-default">&nbsp;</div>
            <div class="footer-grid-R section-animation color-default">
            <a class="footer-text" href="../competitive-analysis/image-recognition.html" target="_blank">
                <div class="next-arrow-wrapper R">
                    <span class="direction">Next</span>
                    <i class="material-icons arrow-R">arrow_forward</i>
                </div>
                <div>Image Recognition</div>
            </a>
        </div>
    </div>
</footer>
//= ../template/js.html
</body>
</html>